# application port
LISTEN_PORT=

# 
MODE=
ALLOWED_EMAIL_PREFIX=

# database connection configuration
DB_PORT=
DB_HOST=
DB_USER=
DB_PASSWORD= 
DB_NAME=


# JWT config
JWT_SECRET=

# Payload encription key
ENCRYPT_PAYLOAD_KEY=

# Third Party
TOKEN_SEND=

# Frontend URL
FRONTEND_URL=

# Google Authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_URL=
GOOGLE_ACCESS_TOKEN_URL=
GOOGLE_TOKEN_INFO_URL=

GOOGLE_CALLBACK_URL=


#
