VITE_LISTEN_PORT=
VITE_DB_HOST=
VITE_DB_USER=
VITE_DB_PASSWORD=
VITE_DB_NAME=
VITE_JWT_SECRET=
# VITE_BASE_URL = 
# VITE_BASE_URL =
# VITE_BASE_URL = 
# VITE_BASE_URL = 
VITE_MODE_ENCRYPT=
VITE_ENCRYPT_PAYLOAD_KEY=